*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.App{
    background-color: bisque;
    padding: 50px;
    width: 100%;
    height: 100vh;
}

.App-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.Parent1, .Parent2{
    background-color: lightsalmon;
    padding: 50px;
    width: 40%;
    box-shadow: inset 0 0 10px;
}

.Children1, .Children2{
    background-color: lightyellow;
    padding: 50px;
    box-shadow: inset 0 0 10px;
}

.Subchildren1, .Subchildren2{
    background-color: lightgreen;
    padding: 50px;
    box-shadow: inset 0 0 10px;
}

.count{
    margin: 10px 0;
}

.increment-button, .decrement-button, .update-button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 8px black;
    background-color: crimson;
    color: wheat;
}

.increment-button:active, .decrement-button:active, .update-button:active{
    box-shadow: 0 0 4px;
}

.payload-input{
    padding: 8px;
    font-size: 1rem;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 5px;
    outline: none;
}